@import "./Var.scss";

.categories__title {
    background: rgba(206, 12, 12, 0.89);
    color: rgba(206, 12, 12, 0.89);
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}