@import "./Var.scss";
.main__title {
    color:black;
    font-size: 25px;
}
.input {
    background-color: rgba(77, 26, 26, 0.89);
    border: 2px solid black;
    border-radius: 25px;
    color: rgba(206, 12, 12, 0.89);
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}

::placeholder {
    color: rgba(27, 2, 2, 0.89);
}
